<%- include('./includes/header.ejs', {title: 'Sobre'}) %>
<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Sobre o Trabalho</h3>
      <p>
        Trabalho de Desenvolvimento Back-End
        <br>
        <a target="_blank" href="https://github.com/lshangou/Tournament-Manager">GitHub do Projeto</a>
      </p>
      <p>Integrantes do Grupo</p>
      <ul>
        <li>Adler Ferreira</li>
        <li>Leonardo Dias</li>
        <li>Lucas Menezes</li>
        <li>Melissa Lara</li>
      </ul>
      <hr>
      <p><b>Professor:</b> LUCAS SCHMIDT CORREA FRANCO</p>
      <h6>Cotemig - 2021</h6>
    </div>
  </div>
</main>
<%- include('./includes/footer.ejs') %>