<%- include('./includes/header.ejs', {title: 'Início'}) %>
<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Api de Torneios</h3>
      <p>
        Bom vindo à API de gerenciamento de Torneios. Você pode acessar os paineis nos menus acima ou escolher um abaixo.
        <hr>
        <a class="btn btn-outline-primary" href="/equipe_admin">Equipes</a>
        <a class="btn btn-outline-primary" href="/jogador_admin">Jogadores</a>
        <a class="btn btn-outline-primary" href="/jogo_admin">Jogos</a>
        <a class="btn btn-outline-primary" href="/plataforma_admin">Plataformas</a>
        <a class="btn btn-outline-primary" href="/torneio_admin">Torneios</a>
      </p>
    </div>
  </div>
</main>
  <%- include('./includes/footer.ejs') %>